@model AllContent

<div class="bg-light pb-4">
    <div class="navbar navbar-expand-lg bg-dark text-white justify-content-between">
        <h3 class="display-4">Products</h3>
        <h3 class="display-4"><a href="/categories">Categories</a></h3>
    </div>
    <div class="d-inline-block container col-7 m-2 bg-secondary">
        <h3>New Product</h3>
        <div class="mt-4">
            <form asp-action="newProduct" asp-controller="Home" method="post">
                <div class="form-group">
                    <label asp-for="thisProduct.Name" class="font-weight-bold mb-0"></label>
                    <span asp-validation-for="thisProduct.Name" class="form-text text-danger"></span>
                    <input asp-for="thisProduct.Name" class="form-control bg-light">
                </div>
                <div class="form-group">
                    <label asp-for="thisProduct.Description" class="font-weight-bold mb-0"></label>
                    <span asp-validation-for="thisProduct.Description" class="form-text text-danger"></span>
                    <input asp-for="thisProduct.Description" class="form-control bg-light">
                </div>
                <div class="form-group">
                    <label asp-for="thisProduct.Price" class="font-weight-bold mb-0"></label>
                    <span asp-validation-for="thisProduct.Price" class="form-text text-danger"></span>
                    <input asp-for="thisProduct.Price" class="form-control bg-light">
                </div>
                <button type="submit" class="btn btn-primary mb-3 mt-3">Create</button>
            </form>
        </div>
    </div>
    <div class="d-inline-block container col-4 align-top m-2 ml-5 border-left bg-light">
        <h3>Existing Products</h3>
        <ul>
        @{
            foreach(var product in Model.AllProduct)
            {              
                <li>
                    <a href="/products/@product.ProductId">@product.Name</a>
                </li>
            }
        }
        </ul>
    </div>