@using Users.Models
@model User

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Here is a User!</h1>

    <p>This page is been rendered for</p>
        
    <h4>@Model.FirstName @Model.LastName</h4>
</body>
</html>
