<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid navbar navbar-expand-lg navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between col-12 mr-0 ml-1">
            <h2 class="navbar-brand d-flex align-items-center">Store Name</h2>
            <div>
                {% if request.session.user_id %}
                {{request.session.user_name}}
                <h4>Shopping Cart {{user.cart.products.count}}</h4>
                <a href="#">Log out</a>
                {% endif %}

                {% if not request.session.user_id %}
                <a href="/signin">Sign in</a>
                <a href="/signup">Register</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container col-2 d-inline-block">
        <form action="#" method="get">
            <input type="text" placeholder="product name">
            <button type="submit">search</button>
        </form>
        <p><ul class="list-unstyled">Categories
            {% for category in all_category %}          
            <li>
                <a href="/products/{{category.name}}">{{category.name}}</a>              
            </li>           
            {% endfor %}
        </ul></p>         
    </div>
    <div class="container col-9 d-inline-block align-top">
        {% for category in all_category %}
        <div class="m-2 bg-light">
            <h4>{{category.name}}</h4>
            {% for product in category.products.all %}
            <div class="d-inline-block">
                <a href="/product/{{product.id}}"><img src="#" alt="image"></a>
                <p><a href="/product/{{product.id}}">{{product.name}}</a></p>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</body>
</html>