<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="index.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>
<body class="pt-5 bg-secondary">
    <div class="container col-6 mt-1">
        <h4 class="display-4">Conversation Board</h4>
        <div class="p-3 allMsg" style="height:300px; overflow:auto;">
 
        </div>
        <input type="text" class="msg form-control mt-3 bg-light" placeholder="enter your message here">
        <button type="submit" class="btn btn-primary mt-2 offset-10">Submit</button>
    </div>
</body>
</html>