<!-- <div class="wrapper m-0 p-4">
  <div class="container col-6 mt-5">
    <p *ngIf="error">{{ error }}</p>
    <form>
      <div class="form-group">
        <img src="assets/images/logo.png" alt="Ekittens" width="600">
        <input type="text" class="form-control m-2" name="player" [(ngModel)]="playerName" placeholder="Type your name">
        <button (click)="joinGame()" class="subBtn offset-5">JOIN</button>
      </div>
    </form>
  </div>

  <!-- <div *ngIf="connectedPlayers && playerReady==true">
    <div>
      <p>Connected Users</p>
      <ul>
        <li *ngFor="let user of connectedPlayers">{{ user }}</li>
      </ul>
    </div>

  </div> -->
</div> -->