<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
    <title>HTML Table</title>
</head>
<body>
    <table class="table table-bordered">
        <thead>
            <tr class="table-danger">
                <th>First Name</th>
                <th>Last Name</th>
                <th>Full Name</th>
            </tr>
        </thead>
        <tbody>
            {% for info in user: %}
            <tr class="table-primary">
                <td> {{ info['first_name'] }} </td>
                <td> {{ info['last_name'] }} </td>
                <td> {{ info['first_name']+" "+ info['last_name'] }} </td>
            </tr>           
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>