<div class="container col-6 mt-5">
    <h2>Random passcode (passcode #@ViewBag.Count)</h2>

    <div class="container col-3 border">
        <p>@ViewBag.Display</p>
    </div>

    <a href="/" class="btn btn-primary btn-lg offset-5 mt-5">Generate</a>
</div>