<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container col-12 p-2">
        <h2 class="display-4 bg-secondary text-white text-center">Hello Kitties</h2>
        <a href="/cars">Go Back</a>
        <div class="container col-10 text-center mt-3">
            <a href="/cat/nip"><img src="images/catnip-cat.jpg" class="m-2" alt="Catnip" height="400" width="700"></a>
            <a href="/cat/funny-face"><img src="images/funny-face-cat.jpg" class="m-2" alt="funny-face" height="400" width="700"></a>
            <a href="/cat/two-tone"><img src="images/two-tone-cat.jpg" alt="two-tone" class="m-2" height="400" width="700"></a>
        </div>
    </div>   
</body>
</html>