<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href={% static "css/dashboard.css" %}>
    <link rel="stylesheet" href={% static "css/all.css" %}>
  </head>
  <body>
    {% include 'header.html' %}
    <div class="dash">
      <h2>User info:</h2>
      <ul>
        <li>Name: {{request.session.name}}</li>
        <li>Email: {{request.session.email}}</li>
        <li>Your ID is: {{request.session.user_id}}</li>
        <li>Password: {{request.session.password}}</li>
      </ul>
      <h2>Actions:</h2>
      <ul id="actions">
        <li>
          <a type="button" class="btn" href="/{{request.session.user_id}}/edit">Edit</a>
        </li>
        <li>
          <a type="button" class="btn" href="/{{request.session.user_id}}/delete">Delete</a>
        </li>
      </ul>
    </div>
  </body>
</html>
