<div class="wrapper m-0 p-0">

  <div *ngIf="joinedGame == false" class="container col-6 pt-5">
    <p *ngIf="error">{{ error }}</p>
    <form>
      <div class="form-group">
        <img src="assets/images/logo.png" alt="Ekittens" width="600">
        <input type="text" class="form-control m-2" name="player" [(ngModel)]="playerName" placeholder="Type your name">
        <button (click)="joinGame()" class="subBtn offset-5">JOIN</button>
      </div>
    </form>
  </div>

  <div *ngIf="connectedPlayers && joinedGame==true" class="text-white">
    <div class="container col-10 d-inline-block">
      <h3 class="d-inline-block text-center col-10">Game</h3>
      <button (click)="startGame()" class="btn btn-success d-inline-block">New Game</button>
    </div>

    <div class="sidebar container col-2 d-inline-block align-top">
      <p>Connected Users</p>
      <ul>
        <li *ngFor="let user of connectedPlayers">{{ user.player }} - <span class="font-italic text-warning">{{user.status}}</span></li>
      </ul>
    </div>

  </div>
</div>

