<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/bootstrap.css">
    <script src="~/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        <img src="~/images/me.jpg" width="40" height="40" class="d-ionline-block align-top rounded-circle mr-4" alt="">
        <a class="navbar-brand mr-5" href="/">Home</a>
        <a class="navbar-brand mr-5" href="/projects">Projects</a>
        <a class="navbar-brand" href="/contact">Contact</a>
    </div>
    <div style="height:535px;" class="container-fluid height-600">
        <div class="container d-inline-block col-5 mr-5">
            <img src="~/images/user.jpg" width="200" height="200" class="mt-4 mb-4" alt="my photo">
            <h4 class="bg-light rounded">Kunle Yusuf</h4>
            <p class="bg-light rounded">Likes</p>
        </div>
        <div class="container d-inline-block mt-4 col-6 align-top bg-light rounded">
            <h4 class="mt-4">About Me</h4>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta officia numquam autem at eius et accusantium, officiis, doloribus ad eveniet sequi ducimus, nemo non distinctio incidunt fuga. Incidunt, doloremque et.</p>
        </div> 
    </div>
    <div class="text-center bg-secondary text-light font-italic">
        <p class="m-0">olakunley5@gmail.com </p>
        <a class="text-light mr-3" href="https://github.com/kunle05"><img src="~/images/github.png" height="20" width="20" alt="Github"> Kunle05</a>
        <a class="text-light mr-3" href="https://www.linkedin.com/in/olakunle-yusuf-679402178/"><img src="~/images/linkedin.png" height="20" width="20" alt="LinkedIn"> slyman05</a>
        <a class="text-light mr-3" href=""><img src="~/images/twitter.png" height="20" width="20" alt="Twitter"> Kunle05</a>
    </div>       
</body>
</html>