<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .content{
            margin: 11px auto;
            text-align: center;
        }
        .box{
            background-color: aqua;
            border: 2px solid black;
            width: 100px;
            height: 100px;
            margin: 5px;
            display: inline-block;
        }
        p{
            display: inline-block;
            width: 100px;
            height: 100px; 
        }
    </style>
</head>
<body>
    <div class="content">
        <h1>Welcome!</h1>

        {% for x in range(0,num|default(3)): %}
            <p class="{{view}}" style="background-color: {{col}}" ></p>
        {% endfor %}
    </div>
</body>
</html>